*{
    font-family:cursive;
}

.body_index{
   background-color: rgb(245, 191, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.body_crear{
    background-color: rgb(98, 211, 211);
    background-size: cover; 
    background-repeat: no-repeat;
}
.cuadro_formulario{
    background-color: #ffffff;
    height: 400px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 10px;
}

.creacionde_tabla{
    border-radius: 20px;
    padding: 20px 15px;
    text-decoration: none;
    font-family:courier,arial,helvética;
    background-color: rgb(60,142,190);
    color: #ffffffa5;
    font-weight: bold;
    border: 1px solid black;
}




.cuerpo_tablas{
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll ;
    text-align: center;
}


.boton_forma{
    border-radius: 20px;
    padding: 15px;
    background: #FF00FF;
    color: #ffffffa5;
    font-weight: bold;
    
}
 


table{
    color: #000000;
	border-collapse: collapse;
	border: 3px solid purple;
    table-layout: fixed;
    width: 20%;
    align-items: center;
}

table td{
	color: #000000 ;
    width: 33%;
    border: 1px solid #000; 
    padding: 3px; 
     
}

h1{
	color:rgb(0, 128, 128);
	font-size:30px;
	font-family:'Times New Roman', Times, serif;
}

.titulo_formulario{
    color:rgb(0, 128, 128);
	font-size:50px;
	font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 200px;
    font-weight: bold;
    margin-bottom: 50px;
}

.mina{
    color: red;
}
.no_mina{
   color: blue;
}