{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/buscaminasdlc.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lora:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
   
    <title>Document</title>
  </head>
  <body>
    <h1>BuscaMinas Daniel Lorenzo Casas: </h1>
    <main>
    
      <div>
      <a class="creacionde_tabla" href="{% url 'crear_tablero' %}">Tablero de Buscaminas</a>
      </div>
       
    </main>
    
  </body>
</html>