{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css\buscaminasdlc.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lora:wght@500&display=swap"
      rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tablas</title>
  </head>
  <body class="cuerpo_tablas">
  

  

    <div class="container_table">
     

   
      <h1>TABLERO DE BUSCAMINAS</h1>
      <table>
          {% for fila in tablero %}
              <tr>
                  {% for celda in fila %}
                      <td style="width: 10px; height: 10px; border: black solid 1px">{{ celda }}</td>
                  {% endfor %}
              </tr>
          {% endfor %}
      </table>

    </div>
    
  </body>
</html>